.product {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(calc(100% - 45px) / 4);
    position: relative;
    margin: 0 15px 30px 0;

    &:nth-child(4n + 4) {
      margin: 0;
    }
  }

  &__image {
    height: 300px;
    margin-bottom: 10px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    &:before {
      content: '';
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 1px solid #ffffff;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 10px;

    a {
      font-size: 14px;
      color: #2C2C2C;
      text-align: center;
      font-weight: bold;
      position: relative;
    }
  }

  &__price {
    display: flex;
    justify-content: center;

    p, span {
      font-size: 14px;
      color: #2C2C2C;
    }

    span {
      text-decoration: line-through;
      margin-left: 10px;
    }
  }

  &__discount {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #E12E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}