@import '../../assets/scss/index';

.submenu {
  width: 100%;
  max-height: calc(100vh - 70px);
  padding: 30px 0;
  position: absolute;
  top: 70px;
  left: 0;
  background: #2C2C2C;
  border-top: 1px solid #ffffff;
  z-index: 10;
  display: none;
  &__wrapper {
    display: flex;
    ul li {
      margin-right: 150px;
    }
  }

  &__block {
    span {
      color: #ffffff;
      display: block;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 16px;
    }
    ul li {
      margin-bottom: 15px;
      font-size: 14px;
      a {
        padding-bottom: 5px;
        position: relative;
        &:before {
          content: '';
          width: 0;
          height: 1px;
          background: linear-gradient(to right, #fff , transparent);
          position: absolute;
          left: 0;
          bottom: 0;
          transition: .3s ease-in-out;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}