h1, h2, h3, h4, h5, h6, p, span, label {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a, a:hover {
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1280px;
}