.catalog {
  &__right {
    margin-left: 35px;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__loader {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
  }
}