.footer {
  background-color: #2C2C2C;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    height: 70px;
    align-items: center;
  }

  p {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}