@import '../../assets/scss/index';

.header {
  background: #2C2C2C;
  min-height: 70px;

  &__logo {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    height: 70px;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    .nav-item {
      & > a {
        color: #fff;
        height: 70px;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        font-size: 14px;
        font-weight: lighter;

        &:hover {
          background: #212121;
        }

        &.special:hover {
          background: #E12E2E;
        }
      }

      &:hover > a + .submenu {
        display: flex;
      }
    }
  }
  &__navigation {
    justify-content: center;
    .nav-item {
      &:hover > a + .submenu {
        display: flex;
      }
    }
  }
  &__subnavigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #37383b;
    border-top: 1px solid #fff;
  }
}