.mainSection {
  display: flex;
  margin-bottom: 50px;

  div {
    width: 60%;
    height: 410px;
    background-position: center;
    background-size: cover;
    position: relative;

    p {
      padding: 15px 25px;
      background-color: #E12E2E;
      display: inline-block;
      margin-top: 20px;

      span {
        display: block;
        color: #ffffff;
      }
    }

    span:nth-child(1) {
      font-size: 24px;
      font-weight: bold;
    }

    &:nth-child(2), &:nth-child(3) {
      width: calc(20% - 20px);
      margin-left: 20px;
    }

    &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before  {
      content: '';
      width: 100%;
      height: 0.5px;
      background-color: #ffffff;
      position: absolute;
      bottom: 10px;
    }

    &:nth-child(3):before {
      width: calc(100% - 10px);
      left: 0;
    }

    &:nth-child(3):after {
      content: '';
      width: 1px;
      height: calc(100% - 10px);
      background-color: #ffffff;
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
}